*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{font-size: 15px;}
h1,h2,a{text-transform: uppercase;}

/*header bölümü-------------------------------------------------------*/
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2.5rem 5rem 0rem 5rem;
}

header > a:link,
header > ul > li > a:link{
    text-decoration: none;
    color: black;
}

header > ul{list-style: none;}
header > ul > li{float: left;}
header > ul > li > a{margin: 0rem 2rem 0rem 2rem;}

/*main bölümü-------------------------------------------------------*/
main > section{
    margin: 2.5rem 5rem 0rem 5rem;
    display: grid;
    grid-template-areas: 
    "section figure figure"
    "article article article";
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
    text-align: justify;
}

.bas{
    display: grid;
    grid-template-areas: 
    "article img";
    margin-top: 10rem;
    margin-bottom: 10rem;
}

main > section{margin: 2.5rem 5rem 0rem 5rem;}
#sayfa{
    width: 200px;
    height: auto;
}

/*footer bölümü-------------------------------------------------------*/
